<!DOCTYPE html>
<html lang="en" layout:decorate="~{include/admin}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
  <div class="page_title d-flex align-items-center mb-3">
    <h2>공지사항 보기</h2>
  </div>
  <div class="board_area">
    <div class="card rounded-3">
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
          <tr>
            <td class="border-bottom px-0 pb-3">
              <div class="d-flex gap-2 flex-nowrap">
                <a class="btn btn-lg btn-secondary" href="/admin/notice/list"><i class="fa-solid fa-chevron-left"></i> 목록으로</a>
                <div class="d-flex gap-2 flex-nowrap ms-auto">
                  <a class="btn btn-lg btn-danger" href="">삭제</a>
                  <a class="btn btn-lg btn-primary" href="">수정</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tb_title border-bottom py-3 px-0">
              <h4 class="py-2">제목 최대 길이는 10자까지 입니다 두줄로 넘어갈 때 테스트 입니다.</h4>
              <div class="d-flex gap-2 flex-nowrap text-secondary">
                <p>작성자</p>
                <p>2025-10-10</p>
                <p class="ms-auto"><i class="fa-regular fa-eye me-1"></i>12</p>
                <p><i class="fa-regular fa-heart me-1 text-danger"></i>56</p>
                <p><i class="fa-regular fa-comment-dots me-1"></i>8</p>
              </div>
            </td>
          </tr>
          </thead>
          <tbody>
          <!-- 첨부파일이 있으면 노출 -->
          <tr>
            <td class="px-0 py-3">
              <ul>
                <li>
                  <div class="img_wrap">
                    <img alt="" src="/images/hellokitty.jpg">
                  </div>
                </li>
              </ul>
            </td>
          </tr>
          <!-- 첨부파일이 있으면 노출 끝 -->
          <tr>
            <td class="px-0 py-3">
              <div class="tb_content">내용 어쩌고저쩌고</div>
            </td>
          </tr>
          <tr>
            <td class="px-0 pt-3">
              <p><i class="fa-regular fa-comment-dots me-1"></i>댓글 <b class="text-danger">8</b></p>
              <div class="reply_list_area">
                <ul>
                  <li class="reply_list border-bottom">
                    <div class="d-flex justify-content-start align-items-start gap-2 py-2">
                      <div class="flex-grow-1">
                        <b>댓작성자</b>
                        <div class="replyContent">어쩌고저쩌고</div>
                      </div>
                      <div class="flex-shrink-1">
                        <div class="btn-group">
                          <button aria-expanded="false" class="btn btn-xs rounded-2 btn-outline-gray" data-bs-toggle="dropdown"
                                  type="button">
                            <i class="fa-solid fa-ellipsis"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">수정</a></li>
                            <li><a class="dropdown-item" href="">삭제</a></li>
                            <li><a class="btnReReplyWriteView dropdown-item">대댓글 달기</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="reply_depth2 ps-4">
                      <ul>
                        <li class="rerpley_list border-top">
                          <div class="d-flex justify-content-start align-items-start gap-2 py-2">
                            <div class="flex-grow-1">
                              <b>대댓작성자</b>
                              <div class="replyContent">어쩌고저쩌고</div>
                            </div>
                            <div class="flex-shrink-1">
                              <div class="btn-group">
                                <button aria-expanded="false" class="btn btn-xs rounded-2 btn-outline-gray"
                                        data-bs-toggle="dropdown" type="button">
                                  <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="">수정</a></li>
                                  <li><a class="dropdown-item" href="">삭제</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="border-top">
                          <div class="d-flex justify-content-start align-items-start gap-2 py-2">
                            <div class="flex-grow-1">
                              <b>댓작성자</b>
                              <div class="replyContent">어쩌고저쩌고</div>
                            </div>
                            <div class="flex-shrink-1">
                              <div class="btn-group">
                                <button aria-expanded="false" class="btn btn-xs rounded-2 btn-outline-gray"
                                        data-bs-toggle="dropdown" type="button">
                                  <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="">수정</a></li>
                                  <li><a class="dropdown-item" href="">삭제</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="reply_list border-bottom">
                    <div class="d-flex justify-content-start align-items-start gap-2 py-2">
                      <div class="flex-grow-1">
                        <b>댓작성자</b>
                        <div class="replyContent">어쩌고저쩌고</div>
                      </div>
                      <div class="flex-shrink-1">
                        <div class="btn-group">
                          <button aria-expanded="false" class="btn btn-xs rounded-2 btn-outline-gray" data-bs-toggle="dropdown"
                                  type="button">
                            <i class="fa-solid fa-ellipsis"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">수정</a></li>
                            <li><a class="dropdown-item" href="">삭제</a></li>
                            <li><a class="btnReReplyWriteView dropdown-item">대댓글 달기</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="reply_list border-bottom">
                    <div class="d-flex justify-content-start align-items-start gap-2 py-2">
                      <div class="flex-grow-1">
                        <b>댓작성자</b>
                        <div class="replyContent">어쩌고저쩌고</div>
                      </div>
                      <div class="flex-shrink-1">
                        <div class="btn-group">
                          <button aria-expanded="false" class="btn btn-xs rounded-2 btn-outline-gray" data-bs-toggle="dropdown"
                                  type="button">
                            <i class="fa-solid fa-ellipsis"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">수정</a></li>
                            <li><a class="dropdown-item" href="">삭제</a></li>
                            <li><a class="btnReReplyWriteView dropdown-item">대댓글 달기</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="reply_write_area pt-3">
                <div class="mb-2">
                  <textarea class="form-control" id="replyText" name="replyText"
                            placeholder="댓글 내용을 입력해주세요(최대 1000자)"></textarea>
                </div>
                <div class="d-flex">
                  <button class="btnReplyRegister ms-auto btn btn-gray">댓글 쓰기</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script layout:fragment="pagescript" th:inline="javascript">

</script>