@charset "UTF-8";
:root {
    --header-height: 57px;
    --lt-nav-width : 200px;
}

body {
    min-width: 992px;
}

header {
    height: var(--header-height);
}

.lt-nav {
    width: 100%;
    max-width: var(--lt-nav-width);
    height: calc(100vh - var(--header-height));
}

.rt-content {
    width: 100%;
    max-width: calc(100% - var(--lt-nav-width));
    background: var(--bs-gray-100);
}

.rt-content .inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.page_title {
    height: 46px;
}