@charset "UTF-8";

@font-face {
    font-family: 'memomentKkukkkuk';
    src: url('/fonts/memomentKkukkkuk.woff2') format('woff2'),
    url('/fonts/memomentKkukkkuk.woff') format('woff');
}


:root {
    --header-height: 80px;
    --footer-height: 200px;
}

.memomentKkukkkuk {
    font-family: 'memomentKkukkkuk';
}

/* header - common */
.header {
    min-width: 320px;
    background: #ffffff;
    border-bottom: 1px solid var(--bs-border-color);
    color: var(--bs-emphasis-color);
}
.header .container-fluid {
    position: relative;
    max-width: 1200px;
    transition: font-size 0.3s;
}
.header .container-fluid {
    height: var(--header-height);
}


/* header */
.header {
    position: fixed;
    z-index: 999;
    top: 0;
    display: block;
    width: 100%;
}

.header .logo {
    position: absolute;
    left: calc(var(--bs-gutter-x)* 1);
    top: 50%;
    transform: translateY(-50%);
    max-width: 120px;
    width: 100%;
}
.header .logo img {
    display: block;
    width: 100%;
}

.header nav .gnb {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    width: 520px;
    max-width: calc(100% - 440px);
    justify-content: space-around;
    align-items: start;
}
.header nav .gnb > li {
    position: relative;
    display: block;
}
.header nav .gnb > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 12px 14px;
}
.header nav .gnb > li > a > .icon-wrap {
    width: 24px;
    height: 24px;
    font-size: 20px;
    transition: font-size 0.3s ease;
}
.header nav .gnb > li > a > span {
    text-align: center;
    font-family: 'memomentKkukkkuk';
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    transition: color 0.15s;
}

.header nav .gnb > li:hover > a > .icon-wrap {
    color: var(--bs-primary);
    font-size: 24px;
}


/* sign */
.header .sign {
    position: absolute;
    right: calc(var(--bs-gutter-x)* 1);
    top: 25px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
}
.header .btn_menu {
    display: none;
}

/******************** footer ********************/
.footer {
    padding: 30px 0 50px;
    height: var(--footer-height);
    background: #000;
    color: var(--bs-reverse-emphasis-color);
}
.footer_menu {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.footer_menu * {
    font-size: 14px;
}

.footer .logo {
    display: block;
    max-width: 100px;
    width: 100%;
    opacity: 0.5;
}
.footer .logo img {
    display: block;
    width: 100%;
}
.footer .info * {
    font-size: 14px;
}
.footer .info > p {
    opacity: 0.5;
    font-size: 14px;
}
.footer .info > p > span {
    margin-right: 0.75rem;
    white-space: nowrap;
}
.footer .info > p.copyright {
    opacity: 0.8;
}

/* quick_menu */
.quick_menu {
    position: fixed;
    z-index: 99;
    right: 1rem;
    bottom: 1.5rem;
    transition: all 0.3s;
}
.quick_menu.bottom {
    bottom: 257px;
}
.quick_menu li {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.quick_menu li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background: #c3bbae;
    color: var(--bs-reverse-emphasis-color);
    transition: all 0.3s;
}
.quick_menu li:hover a {
    color: var(--bs-secondary);
}
.quick_menu li:first-child a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.quick_menu li.btn_go_top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    width: 68px;
    height: 68px;
    background: var(--bs-secondary);
    color: var(--bs-reverse-emphasis-color);
    border-radius: 100px;
    cursor: pointer;
}
.quick_menu li .icon-wrap {
    width: 24px;
    height: 24px;
}
.quick_menu li p {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}


/******************** Swiper ********************/
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    display: inline-block;
    border-radius: 0;
    background: #fff;
    opacity: 0.2;
}
.swiper-pagination-bullet-active {
    background: #fff;
    opacity: 0.8;
}

.facilitiesSwiper {
    max-height: 768px;
    height: 100%;
}

/******************** img & text wrap transition ********************/
.img_wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img_wrap > img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}



/******************** Common ********************/
#main_container {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - var(--footer-height));
    padding-top: var(--header-height);
}
#main_container > .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
