@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.5;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
form,
fieldset,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

img,
fieldset {
    border: none;
    vertical-align: top;
}

legend,
caption {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: -1;
}

textarea,
button {
    vertical-align: middle;
}

button {
    color: #212529;
}

input,
select {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: inherit 0.2s ease;
}

table {
    border-collapse: collapse;
    width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: 600;
}

.clearfix:before,
.clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear: both;
}