@charset "UTF-8";

:root,
[data-bs-theme=light] {
    --bs-primary: #886f57;
    --bs-primary-rgb: 136,111,87;
    --bs-secondary: #6c757d;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success: #4bbf73;
    --bs-success-rgb: 75, 191, 115;
    --bs-info: #1f9bcf;
    --bs-info-rgb: 31, 155, 207;
    --bs-warning: #ffa100;
    --bs-warning-rgb: 224, 148, 42;
    --bs-danger: #d9534f;
    --bs-danger-rgb: 217, 83, 79;
    --bs-yellow: #ffcc00;
    --bs-yellow-rgb: 255, 204, 0;
    --bs-gray: #6c757d;
    --bs-gray-rgb: 108, 117, 125;
    --bs-gray-dark: #343a40;
    --bs-gray-dark-rgb: 52, 58, 64;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-link-color: var(--bs-gray-600);
    --bs-link-hover-color: var(--bs-gray-700);

    --bs-body-color: var(--bs-gray-800);

    --bs-emphasis-color: #212121;
    --bs-emphasis-color-rgb: 33, 33, 33;
    --bs-medium-emphasis-color: #838587;
    --bs-medium-emphasis-color-rgb: 131, 133, 135;
    --bs-reverse-emphasis-color: #fff;
    --bs-reverse-medium-emphasis-color: #8F8F8F;
    --bs-reverse-medium-emphasis-color-rgb: 143, 143, 143;
}

* {
    font-family: 'pretendard';
}

html {
    font-size: 16px;
}

body {
    min-width: 320px;
}


/********** Typography **********/
/* font-size */
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.2;
}

.h1, h1 {
    font-size: 2.25rem;
}
.h2, h2 {
    font-size: 1.875rem;
}
.h3, h3 {
    font-size: 1.5rem;
}
.h4, h4 {
    font-size: 1.25rem;
}
.h5, h5 {
    font-size: 1.125rem;
}
.h6, h6 {
    font-size: 1rem;
}
.small, small, .fs-xs {
    font-size: 0.875rem;
}
p, span, a,
table, .table,
dl, dt, dd,
ul, ol, li {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.uppercase {
    text-transform: uppercase !important;
}


.icon-wrap {
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.icon-wrap-sm {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.tb_content {
    white-space: pre-wrap;
}

/* text-overflow */
.text-overflew-line-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-overflew-line-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* button */
.btn {
    --bs-btn-font-size: 14px;
}
.btn-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7d674f;
    --bs-btn-hover-border-color: #7d674f;
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #715e47;
    --bs-btn-active-border-color: #715e47;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-gray {
    --bs-btn-color: var(--bs-gray-600);
    --bs-btn-bg: var(--bs-gray-300);
    --bs-btn-border-color: var(--bs-gray-300);
    --bs-btn-hover-color: var(--bs-gray-600);
    --bs-btn-hover-bg: var(--bs-gray-400);
    --bs-btn-hover-border-color: var(--bs-gray-400);
    --bs-btn-focus-shadow-rgb: var(--bs-gray-rgb);
    --bs-btn-active-color: var(--bs-gray-600);
    --bs-btn-active-bg: var(--bs-gray-500);
    --bs-btn-active-border-color: var(--bs-gray-500);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-gray-600);
    --bs-btn-disabled-bg: var(--bs-gray-300);
    --bs-btn-disabled-border-color:  var(--bs-gray-300);
}
.btn-outline-main {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-primary);
    --bs-gradient: none;
}
.btn-outline-gray {
    --bs-btn-color: var(--bs-gray-600);
    --bs-btn-border-color: var(--bs-gray-300);
    --bs-btn-hover-color: var(--bs-gray-600);
    --bs-btn-hover-bg: var(--bs-gray-400);
    --bs-btn-hover-border-color: var(--bs-gray-400);
    --bs-btn-focus-shadow-rgb: var(--bs-gray-rgb);
    --bs-btn-active-color: var(--bs-gray-600);
    --bs-btn-active-bg: var(--bs-gray-500);
    --bs-btn-active-border-color: var(--bs-gray-500);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-gray-600);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-gray-600);
    --bs-gradient: none;
}
.btn-xs, .btn-group-sm > .btn {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.325rem;
    --bs-btn-font-size: 0.75rem;
}
.btn-sm, .btn-group-sm > .btn {
    --bs-btn-font-size: 0.75rem;
}
.btn-lg, .btn-group-lg > .btn {
    --bs-btn-font-size: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s
    ease-in-out, box-shadow 0.15s
    ease-in-out;
}
.form-control-sm {
    min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: var(--bs-border-radius-sm);
}
.form-control::placeholder {
    color: var(--bs-gray-500);
}

.form-control:focus {
     color: var(--bs-body-color);
     background-color: var(--bs-body-bg);
     border-color: var(--bs-primary);
     outline: 0;
     box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
 }

.form-control[type=file] {
    padding: 0.375rem 0.75rem;
}
.form-select:focus {
    border-color: var(--bs-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}
.form-label, .form-label * {
    font-weight: 500;
    font-size: 14px !important;
    margin-bottom: 0.25rem;
}

.pagination {
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--bs-primary);
    --bs-pagination-active-border-color: var(--bs-primary);
    --bs-pagination-disabled-color: var(--bs-gray-500);
    --bs-pagination-disabled-bg: var(--bs-gray-300);
    --bs-pagination-disabled-border-color: var(--bs-gray-400);
}

.badge-primary {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), 0.175);
}
.badge-outline-primary {
    color: var(--bs-primary);
    border: 1px solid rgba(var(--bs-primary-rgb), 0.175);
    background: transparent;
}
.badge-secondary {
    color: var(--bs-secondary);
    background: rgba(var(--bs-secondary-rgb), 0.175);
}
.badge-outline-secondary {
    color: var(--bs-secondary);
    border: 1px solid rgba(var(--bs-secondary-rgb), 0.175);
    background: transparent;
}
.badge-gray {
    color: var(--bs-gray);
    background: rgba(var(--bs-gray-rgb), 0.175);
}
.badge-dark {
    color: var(--bs-white);
    background: rgba(var(--bs-gray-dark-rgb), 0.75);
}
.badge-success {
    color: var(--bs-success);
    background: rgba(var(--bs-success-rgb), 0.175);
}
.badge-info {
    color: var(--bs-info);
    background: rgba(var(--bs-info-rgb), 0.175);
}
.badge-danger {
    color: var(--bs-danger);
    background: rgba(var(--bs-danger-rgb), 0.175);
}
.badge-warning {
    color: var(--bs-warning);
    background: rgba(var(--bs-warning-rgb), 0.175);
}